@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600,700);
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  vertical-align: baseline;
  background: transparent;
  list-style-type: none;
  text-decoration: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}



html {
  box-sizing: border-box;
  font-size: 100%;
  height: 100%;
}

body {
  font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background: url("https://cdn.pixabay.com/photo/2016/03/26/13/09/organic-1280537__340.jpg") fixed;
  background-size: cover;
  font-size: 14px;
  font-size: 1.4em;
  line-height: 1.5;
}

#perfil{
  font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background: url("https://cdn.pixabay.com/photo/2015/12/27/05/48/turntable-1109588__340.jpg") fixed;
  background-size: cover;
  font-size: 14px;
  font-size: 1.4em;
  line-height: 1.5;
}

/*login*/

#error{
  display:none;
  color:#fff;
  font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
  margin-top:20px;
  font-size:1.2rem;
  font-weight: bold;
}

.align {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.grid {
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
  max-width: 20rem;
  width: 90%;
}


.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* helpers/icon.css */

.icons {
  display: none;
}

.icon {
  display: inline-block;
  fill: #606468;
  font-size: 16px;
  font-size: 1rem;
  height: 1em;
  vertical-align: middle;
  width: 1em;
}


a {
  color: #eee;
  outline: 0;
  text-decoration: none;
}

a:focus,
a:hover {
  text-decoration: underline;
}


input {
  background-image: none;
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  -webkit-transition: background-color 0.3s;
          transition: background-color 0.3s;
}

input[type='submit'] {
  cursor: pointer;
}

.form {
  margin: -14px;
  margin: -0.875rem;
}

.form input[type='password'],
.form input[type='text'],
.form input[type='submit'] {
  width: 100%;
}

.form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 14px;
  margin: 0.875rem;
}

.form__input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}


.login {
  color: #eee;
}

.login label,
.login input[type='text'],
.login input[type='password'],
.login input[type='submit'] {
  border-radius: 0.25rem;
  padding: 16px;
  padding: 1rem;
}

.login label {
  background-color: #363b41;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding-left: 20px;
  padding-left: 1.25rem;
  padding-right: 20px;
  padding-right: 1.25rem;
}

.login input[type='password'],
.login input[type='text'] {
  background-color:#252c3a ;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  color:#fff;
}

.login input[type='password']:focus,
.login input[type='password']:hover,
.login input[type='text']:focus,
.login input[type='text']:hover {
  background-color: #434a52;
}

.login input[type='submit'] {
  background-color: #43cb83;
  color: #eee;
  font-weight: 700;
  text-transform: uppercase;
}

.login input[type='submit']:focus,
.login input[type='submit']:hover {
  background-color: #252c3a;
}


p {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  margin-top: 24px;
  margin-top: 1.5rem;
}

.text--center {
  text-align: center;
}

.ng-scope{
  height:50%;
}

.content-wrapper {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.21);
  width: 100%;
  overflow:hidden;
  margin: 2.5em auto;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  border-top: 5px solid #3c3c3c;
  border-radius: 2px;
}
.content-wrapper h2 {
  color: #3c3c3c;
  text-align: center;
  border-bottom: 1px solid #252c3a;
}
.content-wrapper .everyone-wrapper {
  margin-top: 30px;
}
.content-wrapper .everyone-wrapper section {
  -webkit-transition: right 0.3s ease;
  -moz-transition: right 0.3s ease;
  -ms-transition: right 0.3s ease;
  -o-transition: right 0.3s ease;
  transition: right 0.3s ease;
  margin-top: 10px;
  position: relative;
  background-color: #d5d5d5;
  width: 100%;
  height: 100%;
  right: -65px;
  border-left: 5px solid #43cb83;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.content-wrapper .everyone-wrapper section:hover {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  right: 0;
}

.content-wrapper .everyone-wrapper section .edit-wrapper {
  margin-top: 5px;
  margin-right:20px;
  width: 50px;
  height: 100%;
  float: right;
}
.content-wrapper .everyone-wrapper section .edit-wrapper button {
  text-align: center;
  background-color: #fb4953;
  height: 50px;
  width: 50px;
  cursor: pointer;
  border-top: 1px solid #d5d5d5;
}
.content-wrapper .everyone-wrapper section .info-wrapper {
  padding: 15px;
  width: 100%;
  height: 5.5em;
  float: left;
  border-left: 5px solid #43cb83;
}

.content-wrapper .everyone-wrapper section .info-wrapper h3 {
  display: inline;
}
.content-wrapper .everyone-wrapper section .info-wrapper h3 span {
  font-weight: 100;
}
.content-wrapper .everyone-wrapper section .info-wrapper p {
  font-weight: 200;
  font-size: 17px;
  line-height: 2.0;
}
.content-wrapper .everyone-wrapper section .info-wrapper span.email {
  border-right: none;
}
.content-wrapper .everyone-wrapper section .info-wrapper .from, .content-wrapper .everyone-wrapper section .info-wrapper .phone, .content-wrapper .everyone-wrapper section .info-wrapper .email {
  font-size: 15px;
  font-weight: 300;
  position: relative;
  bottom: 0;
  padding: 0 15px;
  border-right: 1px solid white;
}

button.blue {
  background-color: #252c3a !important;
  color:#fff;
}

button.red {
  background-color: #fb4953 !important;
}

button.green {
  background-color: #43cb83 !important;
}

input {
  color: #4d4d4d;
  font-size: 14px;
  line-height: 1.5;
  width: 200px;
  background: #f2f2f2;
  border: 2px solid #3c3c3c;
  border-left: none;
  border-right: none;
  border-top: none;
  padding: 7px 14px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  outline: 0;
}

input#state {
  width: 50px;
}

input#city {
  width: 100px;
}

input:valid {
  -webkit-transition: border .3s ease-in-out;
  transition: border .3s ease-in-out;
  border-bottom: 2px solid #27c6a2;
}

textarea {
  height: 50px;
  width: 700px;
  background: #f2f2f2;
}

.avatar {
  float: left;
  display: inline-block;
  overflow: hidden;
  width: 10vw;
  height: 10vw;
  border-radius: 100%;
  background: #C68587;
  border: 6px solid #B3C9CB;
  background-image: url(https://scontent-vie1-1.cdninstagram.com/hphotos-ash/t51.2885-19/10932224_821299211264682_1488190390_a.jpg);
  background-size: cover;
  background-position: 50% 25%;
  -webkit-transition: border 0.5s linear;
  transition: border 0.5s linear;
}
.avatar:after {
  content: "";
  position: absolute;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #f0e3c7), color-stop(100%, #6bcab4));
  width: 10vw;
  height: 10vw;
  border-radius: 100%;
  border: 1px solid white;
  left: 4px;
  top: 4px;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  cursor: pointer;
  -webkit-transform-style: preserve-3d;
}

.avatar:hover:after {
  opacity: 0.7;
}

.avatar.open:hover:after {
  opacity: 0;
}

.container {
  text-align: center;
  left: 70%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -webkit-transition: translate3d(-50%, -50%, 0);
  transition: translate3d(-50%, -50%, 0);
  position: absolute;
  top: 60%;
}

#camera {
  -webkit-transform: scale(0.4);
  position: relative;
  z-index: 9999;
  cursor: pointer;
  top: 18%;
  overflow: hidden;
}

#circle {
  -webkit-transform: scale(0.75);
  -webkit-transform-origin: 50% 50%;
  -webkit-transition: all 0.3s linear;
  stroke-dashoffset: 33px;
  stroke-dasharray: 33px;
}

#cameraFrame {
  -webkit-transition: all 0.5s linear;
  stroke-dashoffset: 72px;
  stroke-dasharray: 72px;
}

#plus {
  -webkit-transition: all 0.3s linear;
  stroke-dashoffset: 5px;
  stroke-dasharray: 5px;
}

#fileUpload {
  overflow: hidden;
  position: absolute;
  padding: 10px;
  opacity: 1;
  left: 80px;
  bottom: 0;
  -webkit-transform: translate3d(-50%, -50%, 0);
  z-index: 9999;
  -webkit-transition: 250ms cubic-bezier(0.7, 0, 0.36, 1);
  transition: 250ms cubic-bezier(0.7, 0, 0.36, 1);
}
#fileUpload:focus {
  outline: none;
  background: transparent;
}

#openModal {
  width: 20%;
  height: 18%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 100%;
  -webkit-transform: scale(0);
  z-index: 8888;
  -webkit-transition: 250ms cubic-bezier(0.7, 0, 0.36, 1);
  transition: 250ms cubic-bezier(0.7, 0, 0.36, 1);
  -webkit-transition-delay: 250ms;
  transition-delay: 250ms;
  background-color: rgba(255, 255, 255, 0.9);
}

#openModal > span {
  font-family: raleway;
  font-size: 1.2vw;
  top: 40%;
  position: absolute;
  left: 50%;
  white-space: nowrap;
  -webkit-transform: translate3d(-50%, 0, 0);
  color: rgba(0, 0, 0, 0.7);
}

.separatorLine {
  margin-top: 15px;
  width: 300%;
  position: absolute;
  height: 1px;
  background: rgba(0, 0, 0, 0.6);
}

.clearfix1:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.clearfix1 {
  display: inline-block;
}

/*.clearfix1 {
  display: block;
}*/

.right {
  margin-left: 12.5vw;
  bottom: 0;
  position: absolute;
  float: right;
}

.right > p {
  font-size: 2vw;
  text-align: left;
  text-transform: none;
  font-family: Raleway;
  margin-top: 0.5vw;
  color: rgba(0, 0, 0, 0.7);
}
.right > p:last-child {
  margin-top: 0.2vw;
  font-size: 0.9vw;
  text-align: right;
  color: rgba(0, 0, 0, 0.5);
}

.avatar:hover > #camera > #cameraFrame {
  stroke-dashoffset: 0;
}

.avatar:hover > #camera > #circle {
  stroke-dashoffset: 0px;
}

.avatar:hover > #camera > #plus {
  stroke-dashoffset: 0px;
}

.avatar:active > #camera > #cameraFrame {
  -webkit-transition: none;
  stroke: rgba(255, 255, 255, 0.7);
}

.avatar:active > #camera > #circle {
  -webkit-transition: none;
  stroke: rgba(255, 255, 255, 0.7);
}

.avatar:active > #camera > #plus {
  -webkit-transition: none;
  stroke: rgba(255, 255, 255, 0);
}

.src {
  font-family: raleway;
  position: absolute;
  display: inline-block;
  right: 0;
  bottom: 0;
  padding: 10px;
}

#camera {
  -webkit-transition: 250ms cubic-bezier(0.7, 0, 0.36, 1);
  transition: 250ms cubic-bezier(0.7, 0, 0.36, 1);
}

.avatar.open > #camera {
  -webkit-transform: scale(0);
  fill: white;
}

.avatar.open > #openModal {
  -webkit-transform: scale(0.95);
}

.avatar.open > #fileUpload {
  opacity: 1;
  -webkit-transition-delay: 250ms;
}

.avatar.open > #camera {
  visibility: hidden;
}

/*filter y add note*/
[class^="icon"], [class*=" icon"] {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
}

.iconUser:before {
  content: "\f007";
  margin-right: 6px;
}

.iconAdd {
  color: gray;
  cursor: pointer;
  float: right;
  font-size: 28px;
  margin-top: 6px;
  text-shadow: 0 0 2px black;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.iconAdd:before {
  content: "\f067";
}
.iconAdd:hover {
  color: #9a9a9a;
}

.iconRemove {
  cursor: pointer;
  color: gray;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.iconRemove:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.iconRemove:before {
  content: "\f00d";
}

.patternwall {
  color: #e6e6e6;
  text-decoration: none;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.clear {
  clear: both;
}

.permissionWrapper {
  width: 500px;
  margin: 50px;
  display: inline-block;
}

.listFilterLabel {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

.listFilterInput {
  margin: 0 0 20px 10px;
  height: 28px;
  line-height: 28px;
  color: gray;
  padding: 0 10px;
  background-color: #2e2e2e;
  border: solid 1px #343434;
  -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.listFilterInput:focus {
  outline: none;
}

.permissionsTable {
  width: 100%;
  color: #5a5a5a;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 0 5px black;
  -webkit-box-shadow: 0 0 5px black;
  box-shadow: 0 0 5px black;
}
.permissionsTable tr {
  background-color: #e6e6e6;
}
.permissionsTable th, .permissionsTable td {
  height: 42px;
  font-size: 14px;
  font-weight: normal;
  padding: 0 5px;
}
.permissionsTable th:first-child, .permissionsTable td:first-child {
  text-align: left;
  padding: 4px 10px;
}
.permissionsTable th:last-child, .permissionsTable td:last-child {
  width: 25px !important;
}
.permissionsTable th:not(:first-child), .permissionsTable td:not(:first-child) {
  width: 60px;
}
.permissionsTable thead th {
  border-bottom: solid 3px #2e2e2e;
}
.permissionsTable tbody tr {
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
.permissionsTable tbody tr td:first-child {
  font-style: italic;
}
.permissionsTable tbody tr:hover {
  background-color: #dbdbdb;
}
.permissionsTable tbody tr.focused {
  background-color: #d1d1d1;
}
.permissionsTable tbody tr.removeState {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transform: translate(200px, 0);
  -ms-transform: translate(200px, 0);
  -webkit-transform: translate(200px, 0);
  transform: translate(200px, 0);
}
.permissionsTable tbody tr.addState {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transform: translate(-200px, 0);
  -ms-transform: translate(-200px, 0);
  -webkit-transform: translate(-200px, 0);
  transform: translate(-200px, 0);
}
.permissionsTable tbody .userName {
  display: inline-block;
  width: 90%;
}

.permissionTag {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
  text-align: center;
  font-size: 12px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.permissionTag[data-perm=view].multi {
  background-color: #c1c1c1;
}
.permissionTag[data-perm=view].active {
  color: white;
  background-color: #8DCA35;
}
.permissionTag[data-perm=edit].multi {
  background-color: #c1c1c1;
}
.permissionTag[data-perm=edit].active {
  color: white;
  background-color: #FFAB00;
}
.permissionTag[data-perm=delete].multi {
  background-color: #c1c1c1;
}
.permissionTag[data-perm=delete].active {
  color: white;
  background-color: #FFAB00;
}
.permissionTag[data-perm=owner].multi {
  background-color: #c1c1c1;
}
.permissionTag[data-perm=owner].active {
  color: white;
  background-color: #FF702A;
}
.permissionTag[data-perm=admin].multi {
  background-color: #c1c1c1;
}
.permissionTag[data-perm=admin].active {
  color: white;
  background-color: #FF702A;
}

/*logout*/
.logout {
  background: url(https://dh3vbjnk0bnfa.cloudfront.net/static/centralauth/images/btn-login-hover.png) no-repeat 5px 5px #f4f5f7;
  width: 100px;
  cursor: pointer;
  border-radius: 50px;
  padding: 10px 20px 10px 0;
  color: #0a0a0a;
  font-size: 14px;
  text-align: left;
  text-indent: 40px;
 /* display: block; */
  margin: 20px auto 0;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: .4s;
  -webkit-transition-property: all;
  -moz-transition-timing-function: ease-in-out;
  -moz-transition-duration: .4s;
  -moz-transition-property: all;
}

.logout:hover {
  background-image: url( 'https://dh3vbjnk0bnfa.cloudfront.net/static/centralauth/images/btn-login.png' );
  background-position: 65px 5px;
  text-indent: 15px;
}

/*fecha y hora*/

.fecha-reloj{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color:#fff;
}

.conversor{
  width: 500px;
  margin: 50px;
  float: left;
}

.divisasInput{
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  height: 35px;
}

#convierte{
  background:rgba(0, 0, 0, 0.6);;
  color: #fff;
  height: 35px;
  width: 100px;
  border-radius: 10px;
  cursor:pointer;
}

#convierte:hover{
  background: #43cb83;
}

.result{
  display: none;
}

.conversor p{
  color:#fff;
  font-size: 1.5rem;
  font-weight: bold;
}
